$background-color: #8f3838;
$glass-neumophism: rgba(27, 27, 27, 0.725);
$text-color: #e4e4e4;
$shadow-color: #272727;
$bai: "Bai Jamjuree", sans-serif;
$BioRhyme: "BioRhyme", serif;

/* --------------------------------------display content  ------------------------------------ */

.body-wrapper {
   display: flex;
   margin-top: 50px;
}

.display-wrapper {
   color: $text-color;
   display: flex;
   flex-direction: column;
   //   align-items: flex-start;
   margin: 0 auto;
   // align-items: center;
   text-align: center;
   h1 {
      // @extend .part-2;
      text-transform: uppercase;
      // padding-bottom:3%;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      font-family: $BioRhyme;
      font-weight: bold;
      // left: 50%;
   } 
   a {
      // @extend a;
      text-decoration: none;
      color: $text-color;
      &:hover {
         text-decoration: underline;
      }
   }
   hr {
      text-align: center;
      width: 70%;
      max-width: 400px;
      min-width: 50px;
   }
   span {
      margin-left: 10px;
      background: mix($text-color,rgba(255, 255, 255, 0.014));
      padding: 5px;
      border-radius: 3px;
      text-transform: capitalize;
   }
   .play_list{
      background: $text-color;
   }
}

.settings-wrapper {
   padding: 30px 3%;
   display: flex;
   flex-direction: column;

   // display: inline;
   .fa-music {
      cursor: pointer;
      background: rgba(153, 153, 153, 0.863);
      padding: 13px 17px 15px 13px;
      border-radius: 50%;
      text-shadow: 1px 3px 3px $shadow-color;
      box-shadow: 1px 3px 7px $shadow-color;
      font-size: 30px;
      color: $text-color;
      &:hover {
         background: rgba(98, 98, 98, 0.459);
      }
   }
   .fa-gear {
      cursor: pointer;
      background: rgba(153, 153, 153, 0.863);
      padding: 15px 16px;
      margin-top: 15px;
      border-radius: 50%;
      text-shadow: 1px 3px 3px $shadow-color;
      box-shadow: 1px 3px 7px $shadow-color;
      font-size: 30px;
      color: $text-color;
      &:hover {
         background: rgba(98, 98, 98, 0.459);
      }
   }
}
