$background-color: #8f3838;
$glass-neumophism: rgba(27, 27, 27, 0.725);
$text-color: #e4e4e4;
$shadow-color: #272727;
$bai: "Bai Jamjuree", sans-serif;
$BioRhyme: "BioRhyme", serif;

/* --------------------------------------display content  ------------------------------------ */

.body-wrapper {
   display: flex;
   margin-top: 50px;
}

.display-wrapper {
   color: $text-color;
   display: flex;
   flex-direction: column;
   //   align-items: flex-start;
   margin: 0 auto;
   // align-items: center;
   text-align: center;
   h1 {
      // @extend .part-2;
      text-transform: uppercase;
      // padding-bottom:3%;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      font-family: $BioRhyme;
      font-weight: bold;
      // left: 50%;
   }
   a {
      // @extend a;
      text-decoration: none;
      color: $text-color;
      &:hover {
         text-decoration: underline;
      }
   }
   hr {
      text-align: center;
      width: 70%;
      max-width: 400px;
      min-width: 50px;
   }
   span {
      margin-left: 10px;
      background: mix($text-color, rgba(255, 255, 255, 0.014));
      padding: 5px;
      border-radius: 3px;
      text-transform: capitalize;
   }

   .search {
      display: flex;
      width: 50%;
      margin-left: 0;
      border-radius: 20px;
      background: #ffffff55;
      border: none;
      backdrop-filter: blur(4px);
      box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.603),
         2px 2px 3px $shadow-color;
      i {
         padding: 10px;
         font-size: 20px;
         margin-right: 5px;
         cursor: pointer;
         &:hover {
            font-size: 22px;
            padding: 9px;
         }
      }
      input {
         background: transparent;
         margin: 1% 1% 2%;
         border: none;
         box-shadow: inset 1px 2px 3px $shadow-color;

         border-radius: 20px;
         &::placeholder {
            color: $text-color;
            font-family: $bai;
            font-size: 15px;
         }

         &:focus {
            box-shadow: inset 3px 3px 3px $shadow-color;
            background: transparent !important;
         }
      }
   }
}
.top-level {
   display: flex;
   align-items: center;
   // border: 1px solid yellow;
   margin: 10px 0;
   padding: 10px 0;
   // border-radius: 5px;
   #lights {
      margin: 0;
      background: linear-gradient(#d4d4d4, #ffffff);
      // box-shadow: 2px 3px 4px $shadow-color;
      border-radius: 10px;
      box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.863),
         1px 2px 3px $shadow-color;
      // box-shadow: inset 2px 2px 2px rgba(170, 170, 170, 0.671),
         // inset -2px -2px 2px rgba(0, 57, 65, 0.314);
      backdrop-filter: blur(4px);

      color: #085964;
      height: auto;
      i {
         padding: 10px 15px;
         cursor: pointer;
         border-radius: 0 10px 10px 0;
         margin: 0 auto;
         height: auto;
         font-size: 25px;

         &:nth-child(1) {
            // border-right: 1px solid rgba(0, 0, 0, 0.192);
            border-radius: 8px 0 0 8px;
            // background:#272727;
         }
         &:nth-child(2) {
            background: linear-gradient(#13438a, #116eb9);
            color: #ffffff;
         }
         &:hover {
            background: linear-gradient(#218a13, #25b911);
            color: white;
         }
      }
   }
}

.mid-level {
   display: flex;
   align-items: center;
   // border: 1px solid yellow;
   margin: 10px 0;
   padding: 10px 0;
   align-items: center;
   justify-content: space-around;

   #lights {
      margin-left: 0;
      // flex: auto;
      box-shadow: inset 2px 2px 2px rgba(170, 170, 170, 0.671),
         inset -2px -2px 2px rgba(0, 57, 65, 0.314);
      padding: 5px;
      background-color: #e4e4e459;
      backdrop-filter: blur(4px);
      border-radius: 10px;
   }
   i {
      padding: 10px 15px;
      margin-right: 10px;
      cursor: pointer;
      // border-radius: 0 10px 10px 0;
      margin: 0 auto;
      height: auto;
      font-size: 20px;

      &:nth-child(1) {
         // border-right: 1px solid rgba(0, 0, 0, 0.192);
         // border-radius: 8px 0 0 8px;
         // background:#272727;
      }
      &:nth-child(2) {
         // background: linear-gradient(#13438a, #116eb9);
         color: #ffffff;
         &:hover{
            color: #86c786;
         }
      }
      &:hover {
         color: #ff3434;
         // color: white;
      }
   }
}
#table_song {
   background-color: #ffffff25;
   // box-shadow: 2px 3px 4px $shadow-color;
   box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.411),
      2px 4px 5px $shadow-color;
   border-radius: 5px;
   backdrop-filter: blur(4px);
   // display: flex;
   // justify-content:stretch;
   td {
      border: none !important;
      font-family: $BioRhyme;
      text-align: left;
      margin-top: 5px;
      text-transform: capitalize;
      // font-weight: 900;

      i {
         padding: 5px 7px;
         margin: 1px 5px;
         border-radius: 4px;
         font-size: 15px;
         color: rgb(255, 255, 255);
         box-shadow: inset 1px 2px 3px $shadow-color;
         // box-shadow: inset -1px -2px 3px $shadow-color;
         box-shadow: inset 2px 4px 5px $shadow-color;
         cursor: pointer;
         float: right;
      }

      p {
         font-size: 11px;
      }
      .fa-angle-up {
         background: rgba(0, 128, 0, 0.431);
         &:hover {
            background: rgba(0, 128, 0, 0.801);
         }
      }
      .fa-angle-down {
         background: rgba(16, 16, 97, 0.388);
         &:hover {
            background: rgba(16, 16, 97, 0.781);
         }
      }
      .fa-level-up {
         background: rgba(126, 10, 146, 0.562);
         &:hover {
            background: rgba(126, 10, 146, 0.931);
         }
      }
      .fa-trash {
         background: rgb(146, 54, 54);
         &:hover {
            background: rgb(204, 0, 0);
         }
      }
   }
   &:hover {
      border-radius: 5px;
   }
   img {
      width: 45px;
      min-width: 20px;
      height: 25px;
      border-radius: 4px;
      align-self: center;
      justify-self: center;
      margin-top: 10px;
      // margin-right: 0;
      float: right;
   }
   tr:hover {
      background-color: #ffffff11;
      backdrop-filter: blur(4px);

      color: #ffffff;
   }
}
.settings-wrapper {
   padding: 30px 3%;
   display: flex;
   flex-direction: column;

   // display: inline;
   .fa-music {
      cursor: pointer;
      background: rgba(153, 153, 153, 0.863);
      padding: 13px 17px 15px 13px;
      border-radius: 50%;
      text-shadow: 1px 3px 3px $shadow-color;
      box-shadow: 1px 3px 7px $shadow-color;
      font-size: 30px;
      color: $text-color;
      &:hover {
         background: rgba(98, 98, 98, 0.459);
      }
   }
   .fa-gear {
      cursor: pointer;
      background: rgba(153, 153, 153, 0.863);
      padding: 15px 16px;
      margin-top: 15px;
      border-radius: 50%;
      text-shadow: 1px 3px 3px $shadow-color;
      box-shadow: 1px 3px 7px $shadow-color;
      font-size: 30px;
      color: $text-color;
      &:hover {
         background: rgba(98, 98, 98, 0.459);
      }
   }
   .fa-expand {
      cursor: pointer;
      background: rgba(153, 153, 153, 0.863);
      padding: 15px 16px;
      margin-top: 15px;
      border-radius: 50%;
      text-shadow: 1px 3px 3px $shadow-color;
      box-shadow: 1px 3px 7px $shadow-color;
      font-size: 30px;
      color: $text-color;
      &:hover {
         background: rgba(98, 98, 98, 0.459);
      }
   }
}

#play_song {
}
