/* -----------------------  SASS -----------------------------------
* WHY USE SASS?
------------------------------------------
* 1. Maintainable - because you can use nesting in every case.
* 2. Reuse - using variable.
* 3. Compass.
* 4. Avoid Browser Prefixes.
* 5. Compression.
------------------------------------------
* COMMENTS IN SASS
------------------------------------------
1. // - single line comments, will be wiped out by compilers.
2. /**n/ - multi-line comments, remains after being compiled.
3. /*! *n/ - loud comments, remains after being compiled. 
-----------------------------------------
* GITHUB CHECKS
-----------------------------------------
1. NORMALIZE SCSS - normalizes scss across all browsers
2. compass - effective for scss 
3. using MIXING (functions in sass) - e.g 

 @mixin default-text-color($tc:$black)
  {
      color : $tc
  }

------------------------------------------------
* IMAGES
------------------------------------------------
img [alt="raspberry"] {
   content: image-url("../pics/FNjLPdIVkAMEKPV.jpeg");
}
-------------------------------------------------
* FEATURES
-------------------------------------------------
*/
/* -----------------------  importing ---------------------- */
* {
  box-sizing: border-box;
}

/* ------------- creating usable elements (compass)------------ */
.body-wrapper section {
  border: 1px solid #ffff00;
}

.body-wrapper {
  color: #a12e6e;
  /* -----------  using @mixin ----------------------- */
  letter-spacing: 3;
  /*   ----------------  adjust hue -----------*/
  background-color: #380141;
  /* ----------------------  NESTING -------------------------- */
}
.body-wrapper a {
  color: yellow;
  /* -----------------  using hover ---------------------- */
}
.body-wrapper a:hover {
  color: lightblue;
}
.body-wrapper p, .body-wrapper span {
  color: #808080;
  font-size: 30px;
  /* --------------  darkening a color  ------------- */
  background-color: #660000;
  /* -----------  using compliment - this means it adds up the current background color with the color assigned--------- */
  background-color: #412d01;
  background-color: #412d01;
}
.body-wrapper span {
  /* ------------------------   using extend ------------------------ */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* --------------  lightening a color  ------------- */
  background-color: #ff9999;
}
.body-wrapper section {
  /* ---------------------  using the usable element ----------- */
}

#vert-nav ul {
  /* & is used if the element has other properties */
}
#vert-nav ul li:nth-child(1) {
  color: #bf4040;
  background-color: #142011;
}
#vert-nav ul li:nth-child(2) {
  color: red;
  background-color: #0a3100;
}
#vert-nav ul li:nth-child(3) {
  color: rgba(255, 0, 0, 0.5);
  background-color: #0a3100;
}
#vert-nav ul li:nth-child(4) {
  color: rgba(0, 34, 100, 0.5);
  background-color: #ffff66;
}
#vert-nav ul li:nth-child(5) {
  /* -----------  adding grayscale -------------*/
  background-color: #686868;
}
#vert-nav ul li:nth-child(6) {
  /* -----------  adding color -------------*/
  /*   background-color: adjust-color($brown, $red: 0, $green: 10, $blue: 50);
    background-color: adjust-color(
       $lightblue,
       $hue: 30,
       $saturation: 10,
       $lightness: 30,
       $alpha: .2
    ); */
  background-color: shade(#ff0000, 30%);
  color: tint(#ff0000, 30%);
}/*# sourceMappingURL=pr.css.map */