$background-color: #8f3838;
$glass-neumophism: #1b1b1bb9;
$text-color: #e4e4e4;
$shadow-color: #272727;
$bai: "Bai Jamjuree", sans-serif;
$BioRhyme: "BioRhyme", serif;

.setting-wrapper {
    // flex: 1;
    color: $text-color;
    height: 76vh;
    .fa {
       font-size: 30px;
       text-shadow: 2px 5px 8px $shadow-color;
       &:hover {
          color: lighten($text-color, 50%);
          cursor: pointer;
          // font-size: 20px;
       }
    }
    #settings {
       display: none;
 
       // border: 1px solid yellow;
       padding: 10%;
       background-color: mix($text-color, transparent, 40%);
       border-radius: 5px;
       box-shadow: 3px 3px 5px mix($text-color, black, 20%);
       backdrop-filter: blur(4px);
    }
 }