@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=BioRhyme:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap");
* {
  padding: 0 auto;
  box-sizing: border-box;
  font-family: "comfortaa";
  text-transform: capitalize;
  color: aliceblue;
}

.box-shadow, .body_wrapper .content1 img, .body_wrapper .content-wrapper img {
  box-shadow: -4px 3px 10px 2px rgba(0, 0, 0, 0.655);
}

body {
  background: #560a0a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_wrapper {
  display: flex;
  margin: 3% auto;
}

.body_wrapper h3,
.body_wrapper p {
  margin: 0;
}

.body_wrapper .content1 {
  margin: 0 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.body_wrapper .content1 img {
  margin-bottom: 15px;
}

.body_wrapper .content1 #progress_area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body_wrapper .content1 #progress_area .fa {
  font-size: 24px;
}

.body_wrapper .content1 #progress_area #progress_bar {
  margin-left: 20px;
  width: 50%;
  height: 3px;
  background: #ffffff7f;
  border-radius: 5px;
}

.body_wrapper .content1 #progress_area #progress_bar::before {
  background: white;
  width: 25%;
  height: 3px;
  content: "";
}

.body_wrapper .content-wrapper {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
}

.body_wrapper .content-wrapper img {
  margin-bottom: 5px;
}
