@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=BioRhyme:wght@200;300;400;700&display=swap");
*,
html {
   padding: 0 auto;
   margin: 0 auto;
   box-sizing: border-box;
}

body {
   // background: linear-gradient(rgba(27, 27, 27, 0.404), #1b1b1b71),
   //    url("../pics/FNjLPdIVkAMEKPV.jpeg");
   // background-size: 100% 100vh;
   // background-attachment: fixed;
   // background-repeat: no-repeat;
   background:radial-gradient( #213944,#1a1a29);
  //  height: 100vh;
  //  backdrop-filter: blur(4px);
}

body .loadingio-spinner-eclipse-rjtqitvukue {
   background-color: transparent;
   position: absolute;
   z-index: 1;
   transform: translate(-50%, 50%);
   left: 50%;
   display: block;
}
