@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=BioRhyme:wght@200;300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');


$bai : "bai";
$comforta : "comfortaa";

* {
   padding: 0 auto;
   box-sizing: border-box;
   font-family: $comforta;
   text-transform: capitalize;
   color: aliceblue;
}

.box-shadow {
   box-shadow: -4px 3px 10px 2px rgba(0, 0, 0, 0.655);
}

body {
   background: rgb(86, 10, 10);
   display: flex;
   align-items: center;
   justify-content: center;

}

.body_wrapper {
   display: flex;
   margin: 2.5vw auto;

   audio {
      display: none;
   }

   h3,
   p {
      margin: 0;
   }

   .content1 {
      margin: 0 1.5vw;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: 1.5vw;

      img {
         width: 70vh;
         @extend .box-shadow;
         margin-bottom: 1vw;
      }

      #progress_area {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;

         .fa {
            font-size: 2.5vw;
            cursor: pointer;
         }

         #still_bar {
            position: relative;
            margin-left: 20px;
            width: 50%;
            height: .4vw;
            background: #ffffff8a;
            border-radius: 5px;

         }
         #progress_bar {
            position: absolute;
            // margin-left: 20px;
            width: 0%;
            height: .4vw;
            background: #ffffff;
            border-radius: 5px;

         }
      }

   }

   .content2 {}

   .content-wrapper {
      display: inline-block;
      font-size: .8vw;
      margin: 0 1vw 1.5vw 0;

      img {
         @extend .box-shadow;
         width: 16vw;
         height: 16vw;
         margin-bottom: 5px;
      }

      .img-wrapper {
         position: relative;
      }

      #overlay {
         position: absolute;
         display: flex;
         top: 0;
         background: rgba(0, 0, 0, 0.466);
         width: 100%;
         justify-content: center;
         align-items: center;
         font-size: 2.5vw;
         text-align: center;
         height: 16vw;
      }
   }
}